
html {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
  border-bottom: solid 3px grey;
}

header img {
  width: 100px;
  margin-left: 17px;
}
/* Fonts */
h1 {
  font-size: 2em;
  padding: 30px;
  border: solid 3px grey;
  border-radius: 18px;
  color: white;
  background-color: black;
  margin-right: 17px;
}

h2 {
  font-size: 4em;
  padding: 12px;
  color: white;
  margin-bottom: 20px;
}

h3 {
  border-top: solid 3px grey;
  font-size: 2em;
  padding: 40px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  background-color: rgb(34, 34, 34);
  width: 100%;
}

 h4 {
  font-size: 2em;
  padding: 12px;
  color: white;
}



h5 {
  font-size: 1em;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
/* Sections */
.Opener {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#catPos {
  display: flex;
  justify-content: space-around;
}

.beef {
  border-radius: 18px;
  background-color: rgb(107, 49, 49);
  border: 2px solid grey;
  margin: 10px;
  width: 33%;
  text-align: center;
  font-size: 2em;
  padding: 12px;
  color: white;
}

.vegan {
  border-radius: 18px;
  background-color: rgb(49, 107, 80);
  border: 2px solid grey;
  margin: 10px;
  width: 33%;
  text-align: center;
  font-size: 2em;
  padding: 12px;
  color: white;
}

.exotic {
  border-radius: 18px;
  background-color: rgb(107, 98, 49);
  border: 2px solid grey;
  margin: 10px;
  margin-bottom: 20px;
  width: 33%;
  text-align: center;
  font-size: 2em;
  padding: 12px;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

.button-top{
  width: 80px;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: .6rem;
  background-color: black;

}

.button-top a{
  color: black;
}

/* Footer */
footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: rgb(34, 34, 34);
  border-top: 2px solid grey;
}
/* Picture Area */
.beefpic {
  background-color: rgb(110, 63, 63);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.veganpic {
  background-color: rgb(63, 109, 88);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.exoticpic {
  background-color: rgb(109, 102, 64);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categories {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 3px grey;
}

.beefpic img {
  width: 500px;
  padding: 60px 40px;
}

.veganpic img {
  width: 500px;
  padding: 60px 40px;
}

.exoticpic img {
  width: 500px;
  padding: 60px 40px;
}

/* Media Queries */

@media only screen and (max-width: 400px) and (orientation: portrait) {
  .Opener img {
    width: 250px;
  }
  h2 {
    font-size: 2em;
    text-align: center;
  }
  h4 {
    font-size: 0.9em;
  }
  .exotic {
    margin-left: 2px;
    margin-right: 2px;
  }
  .vegan {
    margin-left: 2px;
    margin-right: 2px;
  }
  .beef {
    margin-left: 2px;
    margin-right: 2px;
  }
  h3 {
    font-size: 1.4em;
  }
  .beefpic img {
    width: 150px;
    padding: 20px 10px;
  }
  .veganpic img {
    width: 150px;
    padding: 20px 10px;
  }
  .exoticpic img {
    width: 150px;
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .Opener img {
    width: 350px;
  }
  h2 {
    font-size: 3em;
    text-align: center;
    width: 350px;
  }
  .Opener {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .Opener img {
    width: 450px;
  }
  h2 {
    font-size: 4em;
    width: 450px;
  }
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
  .beefpic img {
    width: 700px;
  }
  .veganpic img {
    width: 700px;
  }
  .exoticpic img {
    width: 700px;
  }
}

.button-top{
  width: 80px;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: .6rem;
  border: 2px solid white;
  background-color: black;
}

